body{
	overflow-x: hidden;
	margin: 0;
}

#banner1{
	display: block;
	background-color: #7B436A;
	height: 50px;
	width: 100%:
}
/*
#site{
	width: 1000px;
	margin: auto;
	background-color: lightblue; 
}
*/
#banner1 p{
	margin:0;
	text-align: center;
	color: #f5f2f2;
	position: relative;
	top: 10px;
	font-weight: bold;
	font-size: 20px;
	
}

#menu{
	min-width: 400px;
	width : 100%;
	height: 100px;
	position: relative;
	background-color: #f5f2f2;
}

#menu ul {
	float: left;
	left: 50%;
	position: relative;
	padding-top: 15px;
	margin-left: -60px;
}

#menu ul li {
	margin-left: 20px; /*margin before each li */
	float: left;
	list-style-type: none; /* remove bullets */
	position: relative;
	left: -50%;
}

#menu ul li a{
	text-align: center; /*center text each li */
	padding-top: 10px; /*margin on the top of the text */
	padding-bottom: 10px;
	display: inline-block;
	background-color: #436a7b;
	heigh: 30px;
	width: 100px;
	color: white;
	text-decoration: none;
}

/* when mouse is on */
#menu ul li a:hover{ 
	color: white;
	background-color: #7B436A;
}

#banner2{ 
	display: block;
	background-color: #7B436A;
	height: 50px;
	width: 100%:
}

#main {
	display: block;
	width: 900px ;
	margin: auto;
}

#footer {
	text-align: center;
	display: block;
	background-color: #7B436A;
	height: 50px;
	

}

#footer p {
	color: #f5f2f2;
	font-weight: bold;
	position: relative;
	height: 10px;


